{% if not author %}
    <h1>The author your looking for doesn't seem to exist!</h1>
{% else %}
    <h2>{{ author.name }}</h2>
    <h3>Bio:</h3>
    <h4>{{ author.bio }}</h4>
    <br>
    <h3>Recipes:</h3>
    {% for recipe in recipes %}
        <ul>
            <li><a href="/recipe/{{recipe.id}}/">{{ recipe.title }}</a></li>
        </ul>
    {% endfor %}
    <h3>Favorites:</h3>
    {% for favorite in favorites %}
        <ul>
            <li><a href="/recipe/{{favorite.id}}/">{{ favorite.title }}</a></li>
        </ul>
    {% endfor %}
{% endif %}