<h1>Hello, {{ welcome_name }}!</h1>
<h2>Am I authenticated? {{ request.user.is_authenticated }}</h2>
<ul>
    {% for post in title %}
        <li>
        <a href="/recipe/{{ post.id }}/">{{post.title}}</a> - by <a href="/author/{{post.author.id}}/">{{post.author.name}}</a>  
            <ul>
                <li>
                    {{post.description}}
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>

<a href="addauthor/">Add an Author!</a>
<br>
<a href="addrecipe/">Add a Recipe!</a>
<br>
<a href="login/">Login!</a>
<br>
<a href="logout/">Logout!</a>
